@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 30;
  --background-end-rgb: 10, 10, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom cursor styles */
.cursor-none {
  cursor: none;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom animations */
.animated-underline {
  position: relative;
}
.animated-underline::after {
  content: '';
  background-color: #38bdf8; /* Sky-400 color */
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  border-radius: 0.75rem;
  position: absolute;
  transition-duration: 300ms;
}
.animated-underline:hover::after {
  width: 100%;
}